{# Mon premier fichier twig #}
{% extends "base.html.twig" %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	

	<div class="image-container">
		<img src="{{ asset('images/1920DreamTheater.jpg') }}" alt="Pochette DreamTheater">
	</div>

	<h2>Bienvenue dans l'accueil</h2>

{% endblock %}
