{# Mon premier fichier twig #}
{% extends "base.html.twig" %}
{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("css/mon.css") }}" />
{% endblock %}
{% block content %}
{# Section 1 #}
<div class="image-container">
{# Player #}
<div class="d-flex justify-content-center">
  <div id="mobile-box">
    <!-- Card -->
    <div class="card">
      <div class="card-body text-center">
        <h5 class="h5 font-weight-bold">
         <p>Artist:<a href="#" target="_blank"> Dream Theater</a></p>
        </h5>
        <p class="mb-0">Dystopian Overture</p>
        <audio controls id="music" preload="true">
          <source src="{{ asset("audio/DreamTheater-DystopianOverture.mp3") }}" type="audio/mpeg">
        </audio>
      </div>
    </div>
    <!-- Card -->
  </div>
</div>
</div>

{# Section 2 / 3 img #}
<div class="image-container-3imgs">

   <div class="image-wrapper" >
      <a href="#">
         <img src="images/Rectangle46.png" alt="Image 1"/>
         <div class="image-label">JAZZ</div>
      </a>
   </div>

   <div class="image-wrapper" >
      <a href="#">
         <img src="images/Rectangle45.png" alt="Image 2" />
         <div class="image-label" >ROCK</div>
      </a>
   </div>

   <div class="image-wrapper" >
      <a href="#">
         <img src="images/Rectangle47.png" alt="Image 3" />
         <div class="image-label" >CLASSICAL</div>
      </a>
   </div>
   
</div>
{% endblock %}
