
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    /* Ajustez la largeur de la sidebar selon vos besoins */
    height: 100%;
    /* Ajustez la hauteur de la sidebar selon vos besoins */
    background-color: rgba(255, 255, 255, 0.8);
    /* Ajustez la couleur de fond de la sidebar selon vos besoins */
}